<script>
	import {createEventDispatcher} from 'svelte'
	const dispatch = createEventDispatcher()

	export let name
	export let src

	export let size = 20
	export let backgroundColor = 'black'
	export let color = 'white'

	const width = size+'vh'
	const height = size*(1+1/3)+'vh'
</script>
<style>
	#outside{
		margin: 0.5em;
		min-width: var(--width);
		min-height: var(--height);
		padding: 0.5em;
		border-radius: 0.3em;
		background-color: var(--backgroundColor);
		text-align: right;
	}
	span{
		cursor: pointer;
		user-select: none; /*don't accidentally highlight*/
	}
	#inside{
		padding: 0.5em;
		border-radius: 0.3em;
		text-align: center;
	}
	h2{
		font-weight: 900;
		font-size: 1.5em;
		text-transform: uppercase;
		color: var(--color);
	}
</style>
<div id='outside' style="
	--width: {width};
	--height: {height};
	--backgroundColor: {backgroundColor};
	--color: {color}
">
	<span on:click={()=>dispatch('remove')}>X</span>
	<div id='inside'>
		<h2>{name}</h2>
		<img {src} alt={name}>
	</div>
</div>
